.container {
  min-width: 320px;
  max-width: 984px;
  padding-right: 48px;
  padding-left: 48px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .container {
    padding-right: 0;
    padding-left: 0;
  }
}
